<!--<form name="loginForm" id="loginForm" role="form" class="form-signin" ng-submit="login.login(login)">
	<h4 class="form-signin-heading">Please Login</h4>
	<input type="text" class="form-control" title="Username" name="user" ng-model="login.email" placeholder="Email" required />
	<input type="password" class="form-control" title="Password" name="pass" ng-model="login.pass" placeholder="Password" required />
	<fieldset class="form-group">
		<input type="submit" class="btn btn-primary pull-right" value="Login" />
	</fieldset>
</form>-->
<form>
</form>
