.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-fixed-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: .7;
}

.dropdown {
  padding-top: 8px;
  padding-left: 10px
}
.intro {
  height: 400px;
  text-align: center;
  backgroud: url(./img/top.gif) no-repeat bottom center scroll;
}
growl-notifications {
  position: fixed;
  top: 150px;
  right: 10px;
  z-index: 1000;
}
growl-notification {
  background: rgba(0,0,0,0.6);
  background-color: white;
  padding: 15px 30px;
  width: 200px;
  display: block;
  border-radius: 5px;
  margin-top: 15px;
  border: 1px solid #eeeeee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #f0ad4e;
}
